<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.justplay1994.github.baseframework.dao.BaseClientDetailsDao">

    <resultMap id="client" type="com.justplay1994.github.baseframework.dao.entity.MyBaseClientDetailsEntity">
    <!--<resultMap id="client" type="org.springframework.security.oauth2.provider.client.BaseClientDetails">-->
        <id property="clientId" javaType="java.lang.String" column="appId" jdbcType="VARCHAR"/>
        <result property="clientSecret" javaType="java.lang.String" column="appSecret" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="loadClientByClientId" parameterType="java.lang.String" resultMap="client">
    <!--<select id="loadClientByClientId" parameterType="java.lang.String" resultType="org.springframework.security.oauth2.provider.client.BaseClientDetails">-->
    <!--<select id="loadClientByClientId" parameterType="java.lang.String" resultType="org.springframework.security.oauth2.provider.client.BaseClientDetails">-->
        select * FROM ClientDetails WHERE appid=#{clientId}
    </select>

</mapper>